@charset "utf-8";


main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background: #3c58d2;
  font-size: 1.8rem;
}


/* 모바일 해상도일때 */
@media all and (max-width: 768px) {

}

/* 태블릿 해상도일때 */
@media all and (min-width: 769px) and (max-width: 1024px) {
}

/* PC 해상도일때 */
@media all and (min-width: 1025px) {

}