@charset "utf-8";

*::selection {
  background: none;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  min-height: 100vh;
  padding: 150px 0;
  background: #3c58d2;
  font-size: 1.8rem;
}

.register-area {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  font-size: 8rem;
  line-height: 100px;
  color: #ffff;
}

#add-btn {
  transition: all .3s;
}

#add-btn:hover {
  color: #d8bd39;
}

#add-input {
  width: 30vw;
  height: 100px;
  margin: 0 24px;
  border-width: 0 0 6px;
  border-style: solid;
  border-color: #ffffff;
  background: none;
  font-size: 8rem;
  color: #ffffff;
}

.todo-list-area {
  max-width: 40vw;
  margin: 100px auto;
  text-align: center;
}

.tab {
  margin: 50px 0 20px;
  padding: 0 0 10px;
  border-bottom: 2px solid #ffffff;
  font-size: 0;
  text-align: left;
}

.tab li {
  display: inline-block;
  margin: 0 0 0 10px;
  padding: 3px 5px;
  border-radius: 3px;
  font-size: 2rem;
  transition: all .3s;
  color: #ffffff;
  cursor: pointer;
}

.tab li:first-child {
  margin-left: 0;
}

.tab li.active {
  background: #23b7e5;

}

.todo-list-area .title {
  font-weight: 700;
  font-size: 3.8rem;
  color: #ffffff;
}

#todos {
  margin: 60px 0 0;
}

#todos li {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 20px 0 0;
  font-size: 2.6rem;
  line-height: 35px;
  color: #ffffff;
  padding: 0 60px 0 0;
}

#todos li:first-child {
  margin: 0;
}


.check-label {
  display: inline-block;
  position: relative;
  padding: 0 0 0 50px;
}

.check-label input {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  cursor: pointer;
}

.check-label span {
  display: block;
  word-break: break-all;
  text-align: left;
}

.check-label span:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  width: 23px;
  height: 23px;
  background: url(../images/checkbox.png) 0 0 no-repeat;
}

.check-label input:checked + span {
  text-decoration: line-through;
}

.check-label input:checked + span:before {
  background-position: 0 100%;
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 0;
  width: 24px;
  height: 24px;
  background: url(../images/delete.png) center center no-repeat;
  text-indent: -999em;
}

/* 모바일 해상도일때 */
@media all and (max-width: 768px) {

}

/* 태블릿 해상도일때 */
@media all and (min-width: 769px) and (max-width: 1024px) {
}

/* PC 해상도일때 */
@media all and (min-width: 1025px) {

}